@model Lab5.Models.ProfileModel
@{
    ViewData["Title"] = "Профіль";
}

<div class="container mt-5">
    <div class="card col-md-6 mx-auto border-dark">
        <div class="card-header text-center bg-dark text-white">
            <h3 class="my-1">Мої дані</h3>
        </div>
        <div class="card-body">
            <div class="mx-auto mb-3 text-center">
                <img src="@Model.ProfileImage" alt="Profile Image" class="rounded-circle img-fluid profile-image" />
            </div>
            <div class="mt-3 text-left">
                <p class="profile-field"><b>Унікальне ім'я:</b> @Model.Username</p>
                <p class="profile-field"><b>Електронна адреса:</b> @Model.Email</p>
                <p class="profile-field"><b>Номер телефону:</b> @Model.PhoneNumber</p>
                <p class="profile-field"><b>ПІБ:</b> @Model.FullName</p>
            </div>
        </div>
    </div>
</div>




